<!DOCTYPE html>

<html>
	<head>
		<title>{{locale "site-title"}}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link type="image/x-icon" rel="icon" href="/images/elastic-core/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/styles/cloudboard/core.css">

		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/font-awesome.css"/>

		<script type="text/javascript" src="/libs/elastic-core/jquery/jquery.min.js" charset="utf-8"></script>

		<script type="text/javascript" src="/scripts/elastic-core/shared.js" charset="utf-8"></script>

		<script type="text/javascript" src="/libs/cloudboard/resumable.js" charset="utf-8"></script>

		{{#compare pages.home.uri "===" page.uri}}
			{{#if user}}
				<script type="text/javascript">
					{{{defaultjs}}}
				</script>	
			{{/if}}
		{{/compare}}

	</head>

	<body>

		<nav>
			<ul>
				{{#if user}}

					<li class="active"><a href="{{pages.home.uri}}"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="{{pages.newFile.uri}}"><i class="fa fa-pencil"></i> Add</a></li>
					<li><a href="{{pages.logout.uri}}"><i class="fa fa-hand-o-right"></i> Logout</a></li>
					
					<li class="search">
						<i class="fa fa-search" id="search-button">&nbsp;</i>
						<input type="text" value="" placeholder="SEARCH" id="search-field" name="search-field">
					</li>

				{{else}}
	
					<li><a href="{{pages.getLogin.uri}}"><i class="fa fa-book"></i> Login</a></li>

					{{#if pages.register.active}}
                                                <li><a href="/register"><i class="fa fa-book"></i> Register</a></li>
                                        {{/if}}

				{{/if}}
			</ul>
		</nav>


		{{#compare pages.home.uri "===" page.uri}}

			{{#if user}}

				<div id="grid">

					<div id="default-file-item" class="polaroid">

						<div class="options">
				
							<a href="/file/" target="_new">
								<div class="button">
									<em class="fa fa-arrows-alt">&nbsp;</em>
									<span>Full</span>
								</div>
							</a>

						</div>

						<img src="">

						<div class="filename">&nbsp;</div>

	<!--
						<div class="lightbox">
							<div class="details">
								<a href="#_">X</a>
								<img src="#">
								<div id="details-vertical-seperator"></div>
							</div>
						</div>
	-->

					</div>

					<div id="default-details-item" class="details">
				
						<div class="image-container">&nbsp;</div>

						<div class="details-vertical-seperator"></div>
			
						<div class="details-container">

							<div class="options">
								<div class="remove-button button">
									<em class="fa fa-trash-o">&nbsp;</em>
									<span>Remove</span>
								</div>

								<div class="info-button button">
									<em class="fa fa-info">&nbsp;</em>
									<span>Properties</span>
								</div>

								<a href="/file/" target="_new">
									<div class="button">
										<em class="fa fa-arrows-alt">&nbsp;</em>
										<span>Full</span>
									</div>
								</a>

								<div class="close-button button">
									<em class="fa fa-times-circle">&nbsp;</em>
									<span>Close</span>
								</div>
							</div>

							<ul class="tags">
								<li class="new-tag">
									<div class="new-tag-text tag" unselectable="true" contentEditable="true">Add new tag...</div>

									<div class="new-tag-button tag-icon tag">
										<i class="fa fa-plus-square"></i>
									</div>
								</li>
								<li id="default-tag-item">
									<div class="tag-text tag">&nbsp;</div>
									<div class="remove-tag-button tag-icon tag"><i class="fa fa-minus-square"></i></div>
								</li>
							</ul>	
						</div>
					</div>

				</div>

				<button id="load-more">Load more</button>	

			{{/if}}

		{{else}}
			
			{{#compare pages.search.uri "===" page.uri}}

				{{results}}		
				
			{{else}}

				{{{body}}}

			{{/compare}}

		{{/compare}}
	
	</body>

</html>
