<script type="text/javascript">
	{{{newFilejs}}}
</script>

<div id="grid">

	<h2>Add new...</h2>

	<div id="frame">

		<div id="resumable-error">
			Your browser, unfortunately, is not supported by Resumable.js. The library requires support for the HTML5.
		</div>

		<div id="resumable-drop">
			Drop files here to upload or <a class="resumable-browse">select from your computer</a>
		</div>

		<input name="upload" type="file" id="upload" multiple/>

		<div id="resumable-progress">
			<div id="progress-resume-link" class="button">
				<em class="fa fa-play">&nbsp;</em>
				<span>Resume All</span>
			</div>

			<div id="progress-pause-link" class="button">
				<em class="fa fa-pause">&nbsp;</em>
				<span>Pause All</span>
			</div>

			<div id="progress-cancel-link" class="button">
				<em class="fa fa-times-circle">&nbsp;</em>
				<span>Cancel All</span>
			</div>
		</div>

		<div id="upload-options">

			<ul class="tags">
				<li class="new-tag">
					<div class="new-tag-text tag" unselectable="true" contentEditable="true">Add new tag...</div>

					<div class="new-tag-button tag-icon tag">
						<i class="fa fa-plus-square"></i>
					</div>
				</li>
				<li id="default-tag-item">
					<div class="tag-text tag">&nbsp;</div>
					<div class="remove-tag-button tag-icon tag"><i class="fa fa-minus-square"></i></div>
				</li>
			</ul>	

			<span class="message">
				<div class="progress-bar actions failed">
					<h5>Public Access Denied</h5>
					<div class="progress-bar-buttons">
						<em class="fa fa-check-circle">&nbsp;</em>
					</div>
				</div>
			</span>
		</div>

		<div id="history">
			<div id="default-history-item" class="history-item">

				<a target="_new" href="" class="filename">&nbsp;</a>
				
				<span class="filename">&nbsp;</span>

				<span class="message">
					<div class="progress-bar">
						<div class="loading"></div>
						<h5>&mbsp;</h5>
						<div class="progress-bar-buttons">
							<em class="fa fa-play">&nbsp;</em>
							<em class="fa fa-pause">&nbsp;</em>
							<em class="fa fa-times-circle">&nbsp;</em>
						</div>
					</div>
				</span>
			</div>
		</div>

	</div>

</div>
